{% include "check-static.html" %} 
<div class="container"
<p>
<em><strong>Watch this. It'll be funny.</strong></em>
</p>
</div>
<div class="container">
<img src="/static/images/noise.png" class="pull-right" alt="Noise: Hacker Extraordinaire" id="cards">
<p>
I'm starting this project with the Anarch runner Ji "Noise" Reilly. Not only is he the first ID in the core set, but how could you say no to that face? 
</p>
<p>
Noise was the first Anarch available to runners. His ability revolves around forcing the opponent to discard cards off of the top of their deck after a Virus program is installed. This can present a fairly strong challenge to the Corporation, but not an insurmountable one (particularly with the release of Jackson Howards). Typically, a Noise player is looking to install (and install, and install) viruses, thereby disprupting the Corporation's plans. He's a fairly popular ID, with over 1,200 decks posted to NetrunnerDB as of February 1, 2016.
</p>
<p id="bar">
{% include "bar.html" %}
</p>
<p>
There are certainly some changes month to month (Spring 2015 seems especially tough for poor Noise) but on average, there's roughly 50 new decks posted a month to NetrunnerDB. That's not too shabby! Given how long he's been in play, we'd expect to see a lot of decks and a lot of different archetypes that take advantage of new support cards that help him indirectly, or new viruses that help him directly. I plot out all the decks from December 2013 to February 2016. For this analysis, I've gone ahead with 6 clusters this time, but there's certainly an argument to be made for one or two fewere (or more). 
</p>
<div class="container">
<p id="scatter">
{% include "scatter.html" %}
</p>
<h3>Deck Archetypes</h3>
<h4>Red Group (121 Decks)</h4>
Most frequently posted: Late 2015 (best June 2015, 12 decks)
<h4>Orange Group (124 Decks)</h4>
Most frequently posted: Late 2014 (best December 2014, 18 decks)
<h4>Yellow Group (385 Decks)</h4>
Most frequently posted: Early-Mid 2014 (best June 2014, 44 decks)
<h4>Green Group (330 Decks)</h4>
Most frequently posted: Late 2014-Early 2015 (best August 2014, 37 decks)
<h4>Blue Group (142 Decks)</h4>
Most frequently posted: Mid-Late 2015 (best July 2015, 33 decks)
<h4>Purple Group (147 Decks)</h4>
Most frequently posted: Early-Mid 2015 (best February 2015, 47 decks)
</div>
