div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 20px;
}

body {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

#testing {
    background-color: navy;
}

svg#scatter {
    display: block;
    margin: 0 auto;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

img {
    padding: 10px;
}

#cards {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
}

