div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 20px;
}

body {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

#testing {
    background-color: navy;
}

svg {
    display: block;
    margin: 0 auto;
}

