{% extends "layout.html" %}
{% block body %}
<div class="container">
<h1 class="text-center">{{ paragraph.title }}</h1>
<p>
I'm Richard Harris, a data scientist based in Chicago, IL. Currently working at <a href="https://www.braintreepayments.com/">Braintree</a>. </br /></br>

I've worked at the <a href="https://crimelab.uchicago.edu">University of Chicago Crime Lab</a> as a research specialist, where I evaluated programs aimed to reduce inner-city violence using rigorous statistical analysis, as well as providing support for data cleaning, analysis, and modeling for various civic partners. I was also a Coordinator for International Relations at City Hall, Osaka, Japan as a Coordinator for International Relations on the JET Programme.
<br /> <br />

Outside of work, I studied at Georgetown University, where I received a Masters in Public Policy) and Earlham College where I studied Japanese Studies. 

<br /> <br />
       
I spend most of my day doing data work in Python, but also do work in R when needed. I also used Stata far too much in my past academic lives. In my spare time, I play a lot of geeky card and board games, particularly one called Netrunner, which I (try) understand (and write about) using data. 

</p>
</div>
{% endblock %}
