{% extends "layout.html" %}
{% block body %}
<h1>{{ paragraph.title }}</h1>
{{ paragraph.text }}
<script type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript">
var w = 500;
var h = 500;
var padding = 40;
var dataset = {{ d3|tojson }};
var xScale = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d) { return d.X; })])
                    .range([padding, w - padding * 2]);
var yScale = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d) { return d.Y; })])
                    .range([h - padding, padding]);
var rScale = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d) { return d.Y; })])
                    .range([2,5]);
var svg = d3.select("body")
    .append("svg")
    .attr("width", w)
    .attr("height", h);
svg.selectAll("circle")
    .data(dataset)
    .enter()
    .append("circle")
    .attr("cx", function(d) {
            return xScale(d.X);
            })
    .attr("cy", function(d) {
            return yScale(d.Y);
            })
    .attr("r", function(d) {
            return rScale(d.Y);
            });
svg.selectAll("text")
    .data(dataset)
    .enter()
    .append("text")
    .text(function(d) {
            return d.name;
            })
    .attr("x", function(d) {
            return xScale(d.X);
            })
    .attr("y", function(d) {
            return yScale(d.Y);
            })
    .attr("font-family", "sans-serif")
    .attr("font-size", "11px")
    .attr("fill", "red")
</script>


{% endblock %}
